@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{    
    font-family: "Josefin Sans", sans-serif;
    user-select: none;
}
body, html {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.full-screen-bg {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
    width: 6px;  
    height: 7px;
}
  
::-webkit-scrollbar-track {
background: #000;  
}
  
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
  background: #454545;
}

::-webkit-scrollbar-corner {
  background-color: black;
}